<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GuiaPress</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://cdn.tiny.cloud/1/3yygq4iddis7bhqqd62l38bp6g4gah6b7dcxm83nmhbjpth0/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        html{
            min-height: 100vh;
            position: relative;
        }
        a.navbar-brand{
            margin-left: 10px;
        }
        footer{
            background-color: black;
            width: 100%;
            top: 100%;
            position: absolute;
            bottom: 0;
            margin-top: 50px;
            padding: 50px 0;
        }
        footer p{
            color: white;
            text-align: center;
            font-size: 20px;
        }
    </style>
</head>