<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>

    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories/">Categorias</a>
        </li>
        <li class="nav-item">
            <a href="/admin/articles/" class="nav-link">Artigos</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto me-3">
        <li class="nav-item">
            <a href="/logout" class="btn btn-danger">Logout</a>
        </li>
    </ul>
</nav>