<%- include('../../partials/header.ejs') %>

<div class="container">
    <hr>
    <div class="card mt-4">
        <div class="card-header">
            <h2>Criação de usuário</h2>
        </div>

        <div class="card-body">
            <form action="/users/create" method="post">
                <input class="form-control" type="email" name="email" id="" placeholder="exemplo@gmail.com"><br>
                <input class="form-control" type="password" name="password" id="" placeholder="******"><br>
                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
                <br>
                <p>Já tem conta? Faça seu <a href="/login">login</a></p>
            </form>
        </div>
    </div>
</div>